@import './basik/index';
@import './customize/index';
@import './blocks/index';

// firstScreen

.first-screen{
  margin-top: 60px;
  position: relative;
  color: $white;
  .container{
    border: 1px solid red;
  }

  &__content{
    padding: 201px 0 292px 100px;
    position: relative;
    z-index: 2;
    max-width: 589px;
    @media (max-width: $lg-min) {
      padding: 201px 0 182px 100px;
    }
    @media (max-width: $md-min) {
      padding: 101px 0 292px 0;
      max-width: 389px;
    }
  }

  &__title{
    margin-bottom: 20px;
  }

  &__text{
    margin-bottom: 50px;
    max-width: 420px;
  }

  &__button{
    a{
      font-weight: bold;
      padding: 23px 61px;
      border: none;
      transition: all .3s ease;
      &:hover{
        background: linear-gradient(to right, #1C2E6A, #FA803C);
        border: none;
        color: $white;
        transition: all .3s ease;
      }
    }
  }

  &__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    display:block;

    &_bg{
      position:absolute;
      width: 100%;
      height:100%;
      @media (max-width: $md-min) {
        background: rgba(0,0,0,0.5);
      }
    }
  }
}

// services

.services{
  @media (max-width: $md-min) {
    display: none;
  }
  .contentContainer{
    padding: 0 15px;
    position: relative;
    top: 0;
    transform: translateY(-50%);
  }

  &__content{
    @include flex(center, space-around);
  }

  &__column{
    padding: 0 15px;
    position: relative;
    top: 0;
    transform: translateY(-30%);

    @media (max-width: $xl-max) {
      flex: 0 0 25%;
    }

    .item-services{
      top: 0;
      border-radius: 12px 12px 34px 12px;
      z-index: 30;
      transform: translateY(30%);


      &:before, &:after{
        content: '';
        position: absolute;
        left: -4px;
        right: -4px;
        width: calc(100% + 8px);
        height: 52%;
      }

      &:before{
        top: -4px;
        background-color: white;
        border-radius: 12px 12px 0 0;
        transition: box-shadow 1s ease;
        color: $blue-light;
        line-height: 100%;
        box-shadow: inset 0 0 0 0 $white;
      }

      &:after{
        bottom: -4px;
        background-color: $blue-light;
        z-index: -1;
        border-radius: 0 0 34px 12px;
      }

      &:hover .bg{
        height: 100%;
        transition: all .3s ease;
        border-radius: 12px 12px 34px 12px;
      }

      &:hover:before{
        box-shadow: inset 0 -200px 0 0 $blue-light;
        transition: all .7s ease;
      }

      &__image img{
        position: relative;
        width: 100%;
        border-radius: 12px 12px 34px 12px;
      }

      &__text{
        position: absolute;
        bottom: 30%;
        transform: translateY(50%);
        left: 10px;
        color: $white;
        max-width: 260px;
        z-index: 2;
        padding-left: 10px;
        letter-spacing: 2px;
        @include fonts(18px, 29px);

        @media (max-width: $lg-min) {
          @include fonts(12px, 16px);
          max-width: 250px;
          bottom: 35px;
          letter-spacing: 1px;
          left: 0;
        }
      }

      &__bg{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgb(0, 0, 0, 0.5);
        transition: all .3s ease;
        cursor: pointer;
        border-radius: 0 0 34px 12px;
      }
    }
  }
}

// reasons

.reasons, .team{
  padding-bottom: 120px;
  @media (max-width: $lg-min) {
    padding-bottom: 100px;
  }
  @media (max-width: $md-min) {
    padding-bottom: 75px;
  }
  position: relative;
  @media (max-width: $md-min) {
    padding-top: 60px;
  }
  @media (max-width: $sm-min) {
    padding-top: 40px;
  }
  &__title{
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: $sm-min) {
      @include fonts(38px, 48px, 700);
      text-align: left;
    }
  }

  &__info{
    @include flex(flex-start, center);

    @media (max-width: $xl-mid) {
      @include flex(center, center);
      flex-direction: column;
    }

    .column{
      margin-right: 20px;
      @media (max-width: $xl-mid) {
        margin-right: 0;
      }
    }
  }

  &__one, &__two{
    @include flex(flex-start, space-around);
    @media (max-width: $xl-mid) {
      width: 100%;

      &:not(:last-child){
        margin-bottom: 30px;

        @media (max-width: $md-min) {
          margin-bottom: 0;
        }
      }
    }


    @media (max-width: $md-min) {
      @include flex(center, space-between);
      flex-direction: column;
    }

    .column{
      padding: 30px 30px 40px 40px;

      @media (max-width: $sm-min) {
        padding: 20px 5px 30px 10px;
      }
    }
  }

  &__two{
    margin-left: 20px;
    @media (max-width: $xl-mid) {
      margin-left: 0;
    }
    .button{
      clip-path: polygon(0 0,80% 0,100% 50%,80% 100%,0 100%);
      background-color: $light-sky;
      cursor: pointer;
      position: relative;
      transition: all .3s ease;
      display: inline-block;
      padding: 0 129px 0 82px;
      min-width: 360px;
      overflow: hidden;

      @media (max-width: $xl-mid) {
        width: 510px;
        clip-path: none;
        border-radius: 10px 50px;
      }

      @media (max-width: $lg-min) {
        padding: 0;
        width: 48%;
      }
      @media (max-width: $md-min) {
        width: 70%;
        min-width: 0;
        margin-bottom: 0;
      }

      @media (max-width: $sm-min) {
        width: 90%;
        border-radius: 10px  10px 50px 50px;
      }

      &:hover .button__text{
        text-decoration: underline;
        transition: all .3s ease;
      }

      &:hover .button__arrow{
        right: -30px;
        transition: all .3s ease;
      }

      &:hover:after{
        transform: translate(-40%, -50%);
        transition: transform .3s ease;
      }
      &:active:after{
        transform: translate(70%, -50%);
        transition: transform .3s ease;
      }

      &:after{
        z-index: 2;
        height: 346px;
        width: 346px;
        border-radius: 50%;
        position: absolute;
        content: '';
        top: 50%;
        left: -50px;
        transform: translate(-200%, -50%);
        transition: transform .3s ease;
        background-color: $blue;
        filter: blur(50px);
      }

      &__container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include flex(flex-end, center);
        z-index: 3;

        @media (max-width: $xl-mid) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__text{
        max-width: 149px;
        color: $white;
        margin-right: 10px;
        transition: all .3s ease;
        position: relative;

        @media (max-width: $md-min) {
          max-width: 149px;
          text-align: center;
        }

      }

      &__arrow{
        position: absolute;
        right: -20px;
        bottom: 0;
        transform: translateY(-10%);
        transition: all .3s ease;
      }
    }
  }

  &__column{
    background-color: $grey-light;
    border-radius: 10px 10px 50px 50px;
    min-height: 425px;
    max-width: 360px;

    @media (max-width: $xl-mid) {
      max-width: 510px;
    }
    @media (max-width: $lg-min) {
      width: 48%;
    }
    @media (max-width: $md-min) {
      margin-bottom: 30px;
      width: 70%;
    }
    @media (max-width: $sm-min) {
      width: 95%;
    }
  }

  .column{
    &__picture{
      margin-bottom: 25px;

      @media (max-width: $sm-min) {
        margin-bottom: 15px;
      }
    }

    &__title{
      margin-bottom: 20px;
      color: $black;
      @include fonts(22px, 32px, 700);
      @media (max-width: $sm-min) {
        margin-bottom: 10px;
        @include fonts(18px, 32px, 700);
      }
    }
    @media (max-width: $md-min) {
      min-height: auto;
    }
  }

  &__dots{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @media (max-width: $md-min) {
      display: none;
    }
  }
}

// banner

.banner{
  position: relative;

  @media (max-width: $xl-max) {
    margin-right: calc(50% - 765px);
  }

  @media (max-width: $xl-mid) {
    margin-right: 0;
  }
  &__content{
    margin: 0 -15px;
    background-color: $blue;
    @include flex(center, space-between);
    padding: 15px;
    color: $white;


    @media (max-width: $md-min) {
      flex-direction: column;
    }
  }

  &__picture-1{
    @media (max-width: $lg-min) {
      display: none;
    }
  }

  &__info{
    @include flex(center, space-between);

    @media (max-width: $xl-mid) {
      flex-direction: column;
      @include flex(flex-start, space-between);
    }
    @media (max-width: $lg-min) {
      padding: 50px 0 50px 55px;
    }
    @media (max-width: $md-min) {
      @include flex(center, space-between);
      padding: 50px 0;
    }

    .information{
      @media (max-width: $md-min) {
        text-align: center;
      }
      @media (max-width: $sm-min) {
        text-align: left;
      }
      max-width: 730px;
      &__title{
        margin-bottom: 20px;
        color: $white;
        @include fonts(25px, 36px, 700);
      }
      &__info{
        max-width: 740px;

        @media (max-width: $xl-mid) {
          margin-bottom: 30px;
        }
      }
    }
    &_btn{
      padding: 25px 96px;
      background-color: transparent;
      border: 1px solid $white;
      white-space: nowrap;

      @media (max-width: $md-min) {
        padding: 25px 87px;
      }

      &:hover{
        color: $blue-light;
        border: 1px solid $blue-light;
      }
      &:active{
        color: $white;
        background-color: $blue-light;
        border: 1px solid $blue-light;
      }
    }
  }

  &__picture-2{
    margin-top: auto;
    @include flex(flex-end, space-between);

    @media (max-width: $lg-min) {
      flex-direction: column;
    }
    @media (max-width: $md-min) {
      margin-right: auto;
      flex-direction: row;
    }

    .pictures{
      &__yellow{
        width: 51px;
        height: 51px;
        background-color: $yellow;
        margin-right: -20px;
        z-index: 2;

        @media (max-width: $lg-min) {
          margin: 0 0 6px 0;
          width: 97px;
          height: 97px;
          border-radius: 0 16px;
        }

        @media (max-width: $md-min) {
          border-radius: 16px 0;
          margin: 0;
          width: 122px;
          height: 122px;
        }

        @media (max-width: $sm-min) {
          width: 97px;
          height: 97px;
          margin-right: 6px;
        }
      }

      &__blue{
        img{
          @media (max-width: $md-min) {
            transform: rotate(90deg);
          }
          @media (max-width: $sm-min) {
            width: 97px;
            height: 97px;
          }
        }
      }
    }
  }

  &__dotes{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: -1;
  }
}

//product

.product{
  padding: 100px 0;
  background-color: $grey-light;
  @media (max-width: $lg-min) {
    padding: 100px 0 200px 0;
  }
  @media (max-width: $sm-min) {
   padding: 50px 0;
}

  &__content{
    @include flex(center, space-around);
    max-height: 700px;
    @media (max-width: $lg-min) {
      flex-direction: column;
    }
  }

  .information{
    max-width: 490px;
    @media (max-width: $lg-min) {
      max-width: 690px;
      text-align: center;
    }

    @media (max-width: $sm-min) {
      text-align: left;
    }

    &__title{
      margin-bottom: 30px;
      @media (max-width: $lg-min) {
        margin-bottom: 20px;
      }

    }

    &__about{
      margin-bottom: 40px;
      @media (max-width: $lg-min) {
        margin-bottom: 30px;
      }
    }

    &__btn{
      max-width: 300px;
      text-align: center;
      padding: 22px 82px;
      color: $white;
      background-color: $orange;

      &:hover{
        color: $orange;
        background-color: $white;
        border: 1px solid $orange;
      }
      &:active{
        color: $white;
        background-color: $orange;
      }

      @media (max-width: $lg-min) {
        margin: 0 auto;
        padding: 25px 96px;
      }
    }
  }

  .crypto{
    width: 750px;
    height: 550px;

    @media (max-width: $lg-min) {
      width: 60%;
    }
    @media (max-width: $sm-min) {
      margin-bottom: 50px;
    }
    &__item{
      @include flex(center, flex-between);
      background: $white;
      box-shadow: 0 4px 66px rgba(207, 207, 207, 0.25);
      border-radius: 5px 5px 30px 5px;
      padding: 20px 25px 35px 20px;
      width: 250px;

      &:hover .crypto__arrows_top{
        animation-play-state: paused;
      }

      &:hover .crypto__arrows_bottom{
        animation-play-state: paused;
      }

      @media (max-width: $lg-min) {
        padding: 20px 10px;
      }
    }

    &__picture{
      margin-right: 13px;
    }
    &__name{
      max-width: 82px;
      margin-right: 20px;
      &_main{
        color: $black;
        @include fonts(20px, 29px, 400);
      }
    }
    &__arrows{
      &_top{
        animation: arrowTop 1.5s ease infinite;
        @keyframes arrowTop {
          from {
            margin-bottom: 0;
          }

          50% {
            margin-bottom: 20px;
          }

          to {
            margin-bottom: 0;
          }
        }
      }
      &_bottom{
        animation: arrowbottom 1.5s ease infinite;
        @keyframes arrowbottom {
          from {
            margin-top: 0;
          }

          50% {
            margin-top: 20px;
          }

          to {
            margin-top: 0;
          }
        }
      }
    }

    &__content{
      position: relative;

      &_link{
        position: absolute;
        top: 110px;
        left: 50%;
        transform: translate(-50%, 50%);

        &:hover{
          z-index: 10;
        }
      }

      .item-1{
        top: 80px;
        left: 15%;
        @media (max-width: $xl-mid) {
          left: 17%;
        }
        @media (max-width: $lg-min) {
          left: 7%;
        }
        @media (max-width: $md-min) {
          top: 140px;
        }
      }
      .item-2{
        top: 0;
        left: 52%;
        @media (max-width: $md-min) {
          left: 25%;
        }
      }
      .item-3{
        top: 70px;
        left: 89%;
        @media (max-width: $lg-min) {
          left: 100%;
          z-index: 4;
        }
        @media (max-width: $md-min) {
          left: 76%;
          top: 60px;
        }
      }
      .item-5{
        top: 210px;
        left: 20%;

        @media (max-width: $xl-mid) {
          left: 10%;
        }

        @media (max-width: $md-min) {
          left: 20%;
          top: 290px;
        }
      }
      .item-4{
        z-index: 3;

        @media (max-width: $md-min) {
          left: 78%;
          top: 220px;
        }
      }
      .item-5{
        @media (max-width: $lg-min) {
          left: 5%;
        }
        @media (max-width: $xl-mid) {
          left: 19%;
        }
      }
      .item-6{
        top: 240px;
        left: 54%;

        @media (max-width: $xl-mid) {
          left: 45%;
        }

        @media (max-width: $md-min) {
          left: 23%;
          top: 430px;
        }
      }
      .item-7{
        top: 210px;
        left: 85%;

        @media (max-width: $lg-min) {
          left: 100%;
        }
        @media (max-width: $md-min) {
          left: 76%;
          top: 360px;
        }
      }

      @media (max-width: $xl-mid) {
        .item-5, .item-3, .item-1, .item-6 {
          z-index: 2;
        }
      }
    }
  }
}

//investment

.investment{
  @media (max-width: $md-min) {
    padding-top: 100px;
  }
  @media (max-width: $sm-min) {
    padding-top: 280px;
  }
  @media (max-width: $ss-min) {
    padding-top: 450px;
  }
  .info{
    padding-bottom: 100px;
    max-width: 950px;
    text-align: center;
    margin: 0 auto;

    &__title{
      margin-bottom: 30px;

      @media (max-width: $sm-min) {
        text-align: left;
        @include fonts(38px, 48px, 700);
      }

      span{
        color: $blue-light;
        position: relative;

        &:after{
          content: url("../img/investment/line.png");
          position: absolute;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &__text{
      max-width: 774px;
      margin: 0 auto 29px;

      @media (max-width: $sm-min) {
        text-align: left;
      }
    }
    &__btn{
      max-width: 300px;
      padding: 23px 56px;
      margin: 0 auto;
    }
  }

  .animation{

    &__line{
      @include flex(center, space-around);
      overflow: hidden;
      padding: 20px 0;
    }
    &__item{
      width: 305px;
      height: 165px;
      background-color: $white;
      @include flex(center, center);
      margin-right: 20px;
      border-radius: 10px;
      box-shadow: 0 0 15px 7px $grey-light;
      animation: flow 10s ease infinite;

      @keyframes flow {
        0%{
          left: 0;
        }
        50%{
          left: 200px;
        }
        100%{
          left: 0;
        }
      }
    }
  }
}

// platforms

.platforms{
  padding-top: 100px;

  @media (max-width: $lg-min) {
    padding-top: 120px;
  }
  @media (max-width: $md-min) {
    padding-top: 100px;
  }

  &__title{
    text-align: center;
    margin-bottom: 60px;
    @media (max-width: $sm-min) {
      text-align: left;
    }
    @media (max-width: $lg-min) {
      margin-bottom: 50px;
    }
  }

  .block{
    @include flex(center, center);

    @media (max-width: $lg-min) {
      @include flex(center, space-around);
    }
    @media (max-width: $md-min) {
     flex-direction: column;
    }
    &__item{
      max-width: 600px;
      height: 750px;
      border-radius: 10px 50px 50px 10px;
      margin: 0 15px;
      padding: 75px 90px 0 90px;
      position: relative;
      background-color: $white;
      transition: all .3s ease;

      @media (max-width: $xl-mid) {
        max-width: 550px;
      }
      @media (max-width: $lg-min) {
        padding: 30px 7px 0 10px;
        max-width: 370px;
        height: 650px;
      }
      @media (max-width: $md-min) {
        padding: 50px 20px 0 40px;
        max-width: 100%;
        height: 650px;
        &:not(:last-child){
          margin-bottom: 20px;
        }
      }
      @media (max-width: $sm-min) {
        padding: 10px 5px 0 5px;
      }

      &:hover{
        box-shadow: 0px -30px 5px 0px $blue-light inset;
        cursor: pointer;
        transition: all .3s ease;
      }

      &:hover:before{
        transition: box-shadow .5s ease;
        box-shadow: 0px -500px 0px -6px $blue-light inset;
      }

      &:before, &:after{
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        width: calc(100% + 4px);
        height: 60%;
        z-index: -1;
      }

      &:before{
        top: -2px;
        background-color: $main;
        border-radius: 12px 52px 0 0;
        transition: box-shadow 1s ease;
      }
      &:after{
        bottom: -2px;
        background-color: $blue-light;
        border-radius: 0 0 52px 12px;
      }
    }

    &__title{
      margin-bottom: 20px;
    }
    &__text{
      margin-bottom: 30px;
      @media (max-width: $sm-min) {
      margin-bottom: 20px;
    }
    }
    &__link{
      color: $orange;
      @include fonts(20px, 23px, 700);
      position: relative;
      z-index: 6;


      @media (max-width: $sm-min) {
        @include fonts(16px, 20px, 700);
      }

      &:hover{
        text-decoration: underline;
      }
      &:hover:after{
        right: -36px;
        transition: right .3s ease;
      }

      &:after{
        content: url("../img/platforms/Arrow.png");
        position: absolute;
        right: -26px;
        top: 60%;
        transform: translateY(-50%);
        transition: right .3s ease;
      }
    }

    &__picture{
      position: absolute;
      max-width: 650px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: $xl-mid) {
        max-width: 90%;
      }

      @media (max-width: $sm-min) {
        max-width: 100%;
      }

      &_second{
        left: 48%;
      }
    }
  }
}

//study

.study{
  padding: 150px 0;

  @media (max-width: $lg-min) {
    padding: 100px 0;
  }

  @media (max-width: $md-min) {
    padding: 50px 0;
  }

  &__content{
    @include flex(center, space-around);
  }

  .picture{
    position: relative;
    height: 400px;
    width: 400px;

    @media (max-width: $md-min) {
     display: none;
    }

    &__phone, &__bg{
      position: absolute;
      bottom: 0;
    }

    &__phone{
      max-height: 563px;
      left: 80%;
      transform: translateX(-50%);
      @media (max-width: $xl-mid) {
        max-height: 463px;
        left: 70%;
      }
      @media (max-width: $lg-min) {
        left: 46%;
        max-height: 363px;
      }
    }
    &__bg{
      z-index: -1;
      max-width: 650px;
      @media (max-width: $xl-mid) {
        max-width: 550px;
      }

      @media (max-width: $lg-min) {
        left: -50px;
        max-width: 450px;
      }
    }
  }

  .information{
    max-width: 520px;
    padding-top: 30px;

    @media (max-width: $xl-mid) {
      max-width: 420px;
    }

    @media (max-width: $lg-min) {
      max-width: 380px;
    }
    @media (max-width: $md-min) {
      max-width: 100%;
    }
    &__title{
      margin-bottom: 20px;
      @media (max-width: $lg-min) {
        @include fonts(38px, 38px, 700);
      }
    }
    &__text{
      margin-bottom: 30px;
    }
    &__pictures{
      margin-bottom: 30px;
      @include fonts(18px, 26px, 700);
      color: $black;

      @media (max-width: $lg-min) {
        @include fonts(16px, 16px, 700);
      }
    }
    .pictures{
      @include flex(center, space-around);
      margin-bottom: 30px;

      &__title{
        margin-left: 15px;
        @media (max-width: $lg-min) {
          margin-left: 10px;
        }
        @media (max-width: $sm-min) {
          display: block;
          margin-left: 0;
        }
      }

      &__block{
        @media (max-width: $xl-mid) {
          @include flex(center, space-between);
          flex-direction: column;
        }
        @media (max-width: $sm-min) {
          height: 70px;
        }
        img{
          @media (max-width: $xl-mid) {
            margin-bottom: 16px;
          }
        }
      }
    }
    &__btn{
      display: block;
      margin-top: 30px;
      padding: 25px 160px;
      text-align: center;
      @media (max-width: $lg-min) {
        padding: 25px 60px;
      }
    }
  }
}

// team

.team{
  .column{
    &__picture{
      color: $blue-light;
    }
  }
  .column, .button{
    @media (max-width: $xl-mid) {
      min-height: 360px;
    }
  }
}

//info

.forex{
  padding-left: 0;
  color: $white;
  @media (max-width: $xl-max) {
    margin-left: calc(50% - 700px);
  }

  @media (max-width: $lg-min) {
    margin-left: 0;
  }
  .container-max{
    padding-right: 0;
  }
  &__content{
    background-color: $blue;
    padding: 70px 130px;
    position: relative;
    border-radius: 10px 10px 10px 60px;

    @media (max-width: $lg-min) {
      padding: 50px 40px;
    }

    @media (max-width: $sm-min) {
      @include fonts(30px, 40px, 700);
      padding: 15px;
    }
  }
  &__title{
    max-width: 620px;
    margin-bottom:  50px;
    color: $white;
    @media (max-width: $lg-min) {
      max-width: 100%;
    }
    @media (max-width: $lg-min) {
      max-width: 620px;
    }
    @media (max-width: $md-min) {
      @include fonts(38px, 48px, 700);
    }
    @media (max-width: $sm-min) {
      @include fonts(30px, 40px, 700);
      max-width: 90%;
    }
  }
  &__information{
    @include flex(flex-end, flex-start);
  }
  &__tabs{
    max-width: 750px;
    width: 100%;

    @media (max-width: $xl-mid) {
      max-width: 650px;
      width: 100%;
    }
    @media (max-width: $lg-min) {
      max-width: 1100px;
      width: 100%;
    }
  }

  &__tab{
    cursor: pointer;
    border-top: 1px solid rgba(249,249,251,.3);

    &:last-child{
      border-bottom: 1px solid rgba(249,249,251,.3);
    }

    &-title{
      color: $white;
      padding: 25px 0;
      position: relative;

      @media (max-width: $md-min) {
        @include fonts(20px, 26px, 700);
      }

      @media (max-width: $sm-min) {
        @include fonts(18px, 18px, 700);
      }

      &:after{
        content: url("../img/meets/arrow.png");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        min-width: 18px;
        min-height: 18px;
        transition: all .5s ease;
      }

      &-text{
        @media (max-width: $sm-min) {
          max-width: 80%;
        }

      }
    }
    &-content{
       height: 0;
      overflow: hidden;
      transition: all .8s ease;
      @media (max-width: $sm-min) {
        @include fonts(16px, 22px, 400);
      }
    }

    &-active .forex__tab-content{
      //height: max-content;
      //height: 200px;
      transition: all .8s ease;

      @media (max-width: $md-min) {
        height: 320px;
      }
      @media (max-width: $sm-min) {
        height: 450px;
      }
    }
    &-active .forex__tab-title:after{
      transform: rotate(180deg);
      transition: all .5s ease;
    }

  }

  .picture{
    text-align: right;
    position: absolute;
    bottom: 100px;
    right: 50px;

    @media (max-width: $lg-min) {
      display: none;
    }
    &__img{
      margin-bottom: 23px;
      @media (max-width: $xl-mid) {
        max-width: 400px;
      }
    }
    &__title{
      font-family: "Quikhand", sans-serif !important;
      @include fonts(50px, 57px, 400);
      max-width: 472px;
      margin-bottom: 22px;
      @media (max-width: $xl-mid) {
        max-width: 372px;
        @include fonts(40px, 47px, 400);
      }
    }
    &__author{
      color: $yellow;
      margin-right: 20px;
    }
  }

  &__picture{
    max-width: 501px;
  }
}

//analytics

.analytics{
  background-color: $grey-light;
  padding: 150px 0;


  @media (max-width: $md-min) {
    padding: 80px 0;
  }
  
  &__title{
    text-align: center;
    margin-bottom: 57px;
  }

  .slider{
    &__move{
      @include flex(center, space-between);
      margin: 0 auto;
      max-width: 300px;

      &-text{
        color: $orange;
      }

      .arrow{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $white;
        position: relative;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
          transform: scale(1.2);
          transition: all .3s ease;
        }

       img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &__body{
      @include flex(center, space-around);
      overflow: hidden;
      padding-top: 200px;
    }


    .info{
      border: 1px solid red;
      background-color: $white;
      min-width: 750px;
      padding: 30px 60px 30px 40px;
      margin: 0 40px;
      position: relative;

      @media (max-width: $md-min) {
        width: 450px;
      }


      & > *{
        margin-bottom: 30px;
      }

      &__top{
        margin-bottom: 22px;
      }

      &__more{
        color: $black;
        font-weight: 700;
        position: relative;
        cursor: pointer;

        &:after{
          content: url("../img/analytics/arrowBlack.png");
          position: absolute;
          top: 60%;
          transform: translateY(-50%);
          right: -30px;
        }
      }

      &__btns > *{
        display: inline-block;
        border: 1px solid $blue-light;
        color: $blue-light;
        min-width: 100px;
        padding: 4px 0;
        text-align: center;
        margin-top: 30px;

        &:not(:last-child){
          margin-right: 10px;
        }
      }
    }
    .info-active{
      &:before{
        content: url("../img/analytics/main.png");
        position: absolute;
        top: 0;
        transform: translateY(-96%);
        z-index: 2;
        left: 0;
        width: 100%;
      }
    }
  }
}

//registration

.registration{
  color: $black;
  margin-bottom: 100px;

  &__title{
    text-align: center;
    margin-bottom: 67px;


    @media (max-width: $sm-min) {
      text-align: left;
    }

    &-blue{
      position: relative;
      color: $blue-light;

      &:after{
        position: absolute;
        content: url("../img/investment/line.png");
        width: 100%;
        bottom: -20px;
        left: 0;
      }
    }
  }
  &__content{
    .form{
      @include flex(center);
      flex-direction: column;
      @include fonts(18px, 28px, 700);

      &-control{
        padding: 15px 0;
        width: 600px;
        max-width: 100%;
        position: relative;
        &:not(:last-child){
          margin-bottom: 10px;
        }

        &.success input{
          border-color: $green;
        }

        &.error input{
          border-color: $red;
        }

        label{
          display: inline-block;
          margin-bottom: 5px;
        }
        input{
          border: 2px solid $orange;
          border-radius: 4px;
          display: block;
          width: 100%;
          padding: 22px 14px;
        }


        &.success svg.fa-check-circle{
          visibility: visible;
          color: $green;
        }

        &.error svg.fa-exclamation-circle{
          visibility: visible;
          color: $red;
        }

        svg{
          position: absolute;
          top: 50%;
          transform: translateY(50%);
          right: 15px;
          visibility: hidden;
        }

        &.error small{
          visibility: visible;
          color: $red;
        }

        &.success small{
          visibility: visible;
          color: $green;
        }

        small{
          position: absolute;
          visibility: hidden;
          bottom: -12px;
          left: 0;
        }
      }
      .btn{
        margin-top: 20px;
        padding: 16px 120px;
      }
    }
  }
}