@import '../basik/index';
@import '../customize/index';
@import '../blocks/index';

.page-wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.registration{
  flex: 1 1 auto;
  padding: 30px 0 0 0 ;
  background-color: $grey-light;

  @media (max-width: $lg-min) {
    padding: 0;
  }
  &__content{
    padding-top: 80px;
    @include flex(flex-start, flex-start);

    @media (max-width: $lg-min) {
      flex-direction: column;
      @include flex(center, center);
    }

    .info{
      color: $white;
      height: 90vh;
      max-height: 800px;
      background-image: url("../../img/registry/bg.png");
      padding: 100px 60px;

      @media (max-width: $xl-mid) {
        padding: 100px 20px;
        height: 100%;
      }

      @media (max-width: $lg-min) {
        padding: 0;
        margin-top: 100px;
      }

      @media (max-width: $lg-min) {
        order: 2;
        width: 100vw;
        background: $blue;
      }

      &__content{
        background: $blue;
        border-radius: 18px;
        padding: 50px 91px 34px 83px;

        @media (max-width: $xl-mid) {
          padding: 20px;
        }
        @media (max-width: $lg-min) {
          text-align: center;
        }
      }

      &__title{
        text-align: center;
        margin-bottom: 50px;
      }

      &__about{
        color: $white;
        margin-bottom: 22px;

        &-small{
          margin-bottom: 48px;

          @media (max-width: $lg-min) {
            margin-bottom: 0;
          }
        }
      }

      .reliable{
        @include flex(center, space-around);
        flex-wrap: wrap;

        @media (max-width: $lg-min) {
          display: none;
        }

        &__item{
          margin-bottom: 30px;
        }
      }
    }



    .login{
      padding: 0 20px;
      height: 90vh;

      @media (max-width: $xl-mid) {
        height: 100%;
      }
      @media (max-width: $lg-min) {
        order: 1;
        width: 100vw;
      }

      @media (max-width: $md-min) {
        width: 90%;
        height: auto;
      }

      &__choice{
        margin-bottom: 40px;


        @media (max-width: $sm-min) {
          text-align: left;
          margin-bottom: 0;
          width: 200px;
        }

        .tabs__nav h3{
          color: $grey-mid;
        }

        .tabs__nav.is-active h3{
          color: $black;
        }
      }

      &__signup{
        margin-right: 30px;
        color: $grey-mid;

        & .active{
          color: $black;
        }
      }

      &__login{
        &-color{
          color: $grey-mid;
        }

        & .active{
          color: $black;
        }
      }

      &__body{
        position: relative;
        width: 100%;
        @include flex(center, space-between);
        flex-direction: column;

        .tabs{
          display: none;
        }

        .tabs.is-active{
          @include flex(flex-start, space-around);
          @media (max-width: $lg-min) {
            @include flex(center, space-around);
          }
        }

        .form{
          background-color: $grey-light;
          width: 40vw;
          @include fonts(18px, 28px, 700);
          @media (max-width: $lg-min) {
            width: 100%;
          }

            &_columns{&:not(:last-child) {
              margin-right: 30px;
              @media (max-width: $lg-min) {
                margin-right: 0;
              }
            }
          }
          @media (max-width: $md-min) {
            flex-direction: column;
            width: 100vw;
          }

          &-control{
            padding: 15px 0;
            width: 280px;
            position: relative;

            @media (max-width: $xl-mid) {
              width: 240px;
            }

            @media (max-width: $lg-min) {
              width: 40vw;
            }

            @media (max-width: $md-min) {
              width: 90vw;
            }

            &.success input{
              border-color: $green;
            }

            &.error input{
              border-color: $red;
            }

            label{
              display: inline-block;
              margin-bottom: 5px;
            }
            input{
              border: 2px solid $orange;
              border-radius: 4px;
              display: block;
              width: 100%;
              padding: 22px 14px;
            }


            &.success svg.fa-check-circle{
              visibility: visible;
              color: $green;
            }

            &.error svg.fa-exclamation-circle{
              visibility: visible;
              color: $red;
            }

            svg{
              position: absolute;
              top: 50%;
              transform: translateY(50%);
              right: 15px;
              visibility: hidden;
            }

            &.error small{
              visibility: visible;
              color: $red;
            }

            &.success small{
              visibility: visible;
              color: $green;
            }

            small{
              position: absolute;
              visibility: hidden;
              bottom: -12px;
              left: 0;
            }

            .password{
              position: relative;

              &-control {
                position: absolute;
                top: 50%;
                transform: translateY(45%);
                right: 46px;
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;


                &.view {
                  background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
                }
              }
            }
          }
        }


        #form-login{
          width: 40vw;
          @media (max-width: $md-min) {
            flex-direction: column;
            width: 100%;
          }
          @media (max-width: $lg-min) {
            width: 100vw;
          }

          .form-control{
            width: 280px;

            @media (max-width: $xl-mid) {
              width: 240px;
            }

            @media (max-width: $lg-min) {
              width: 40vw;
            }

            @media (max-width: $md-min) {
              width: 90vw;
            }

            input{
              width: 100%;
            }
          }
        }

        .registrationBtn {
          margin-top: 40px;
          width: 90%;
          padding: 18px 0;


          @media (max-width: $lg-min) {
            width: 40%;
          }
          @media (max-width: $md-min) {
            width: 90vw;
          }
        }
      }
    }
  }
}