@import '../basik/index';
@import '../customize/index';
@import '../blocks/index';

.page-wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.registration{
  flex: 1 1 auto;
  padding: 50px 0;

  @media (max-width: $lg-min) {
    padding: 0;
  }
  &__content{
    padding-top: 80px;
    @include flex(flex-start, flex-start);

    @media (max-width: $md-min) {
      flex-direction: column;
    }
    .info{
      color: $white;
      max-width: 715px;
      background-image: url("../../img/registry/bg.png");
      padding: 100px 60px;
      margin-right: 50px;

      @media (max-width: $md-min) {
        order: 2;
        margin:0;
        padding: 20px 10px;
        background-image: none;
        background-color: $blue;
      }

      @media (max-width: $sm-min) {
        display: none;
      }

      &__content{
        background: $blue;
        border-radius: 18px;
        padding: 50px 91px 34px 83px;

        @media (max-width: $xl-mid) {
          padding: 20px 50px 0 ;
        }
        @media (max-width: $md-min) {
          padding: 0;
        }
      }

      &__title{
        text-align: center;
        margin-bottom: 50px;
      }

      &__about{
        color: $white;
        margin-bottom: 22px;

        &-small{
          margin-bottom: 48px;

          @media (max-width: $lg-min) {
            margin-bottom: 0;
          }
        }
      }

      .reliable{
        @include flex(center, space-around);
        flex-wrap: wrap;

        @media (max-width: $lg-min) {
          display: none;
        }

        &__item{
          flex-basis: 50%;
          margin-bottom: 30px;
        }
      }
    }

    .login{
      @media (max-width: $lg-min) {
        order: 1;
        margin-bottom: 100px;
      }

      &__choice{
        margin-bottom: 40px;


        @media (max-width: $sm-min) {
          text-align: left;
        }

        .tabs__nav h3{
          color: $grey-mid;
        }

        .tabs__nav.is-active h3{
          color: $black;
        }
      }

      &__signup{
        margin-right: 30px;
        color: $grey-mid;

        & .active{
          color: $black;
        }
      }

      &__login{
        &-color{
          color: $grey-mid;
        }

        & .active{
          color: $black;
        }
      }

      &__body{
        position: relative;
        width: 100%;

        .tabs{
          display: none;
        }

        .tabs.is-active{
          @include flex(flex-start, space-around);
        }

        .form{
          @include fonts(18px, 28px, 700);


          @media (max-width: $md-min) {
            flex-direction: column;
          }

            &_columns{&:not(:last-child) {
              margin-right: 30px;

              @media (max-width: $md-min) {
                margin-right: 20px;
              }
              @media (max-width: $sm-min) {
                margin-right: 0;
              }
            }
          }

          &-control{
            padding: 15px 0;
            width: 300px;
            position: relative;

            @media (max-width: $md-min) {
              width: 90vw;
            }

            &:not(:last-child){
              margin-bottom: 10px;
            }

            &.success input{
              border-color: $green;
            }

            &.error input{
              border-color: $red;
            }

            label{
              display: inline-block;
              margin-bottom: 5px;
            }
            input{
              border: 2px solid $orange;
              border-radius: 4px;
              display: block;
              width: 100%;
              padding: 22px 14px;
            }


            &.success svg.fa-check-circle{
              visibility: visible;
              color: $green;
            }

            &.error svg.fa-exclamation-circle{
              visibility: visible;
              color: $red;
            }

            svg{
              position: absolute;
              top: 50%;
              transform: translateY(50%);
              right: 15px;
              visibility: hidden;
            }

            &.error small{
              visibility: visible;
              color: $red;
            }

            &.success small{
              visibility: visible;
              color: $green;
            }

            small{
              position: absolute;
              visibility: hidden;
              bottom: -12px;
              left: 0;
            }
          }
        }


        #form-login{
          flex-direction: column;
          @media (max-width: $sm-min) {
            width: 90vw;
          }

          .form-control{
            width: 500px;

            @media (max-width: $sm-min) {
              width: 90vw;
            }

            input{
              width: 100%;
            }
          }
        }

        .registrationBtn {
          position: absolute;
          right: 0;
          margin-top: 20px;
          min-width: 100%;
          padding: 18px 0;
        }
      }
    }
  }
}