@import './variables';

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1530px;
  border: 1px solid red;

  @media (max-width: $xl-mid) {
    max-width: 1300px;
  }

  @media (max-width: $lg-min) {
    max-width: 1000px;
  }
  @media (max-width: $md-min) {
    max-width: 690px;
  }
  @media (max-width: $sm-min) {
    max-width: 516px;
  }
}

.container-max{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1920px;
  border: 1px solid green;
}