@import './variables';

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1530px;

  @media (max-width: $xl-mid) {
    max-width: 1300px;
  }

  @media (max-width: $lg-min) {
    max-width: 1000px;
  }
  @media (max-width: $md-min) {
    max-width: 690px;
  }
  @media (max-width: $sm-min) {
    max-width: 516px;
  }
  @media (max-width: $ss-min) {
    max-width: 488px;
  }
}
.container-max{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1920px;
  @media (max-width: $xl-max) {
    max-width: 1819px;
  }
}