$white: #ffffff;
$black: #0A1F32;
$blue: #003458;
$light-sky: #82CDE5;
$main: #687086;
$blue-light: #73CBE8;
$orange: #FF813A;
$grey-light: #F9F9FB;
$grey-lighter: #E2E2E2;
$grey-mid: #bababe;
$grey-dark: #1A1C26;
$yellow: #F5F06E;
$red: #f11b1b;
$green: #20c93f;
$footer-grey: #687086;


$xxl-min: 1920px;
$xl-max: 1919px;
$xl-mid: 1500px;
$xl-min: 1366px;
$lg-max: 1365px;
$lg-min: 1200px;
$md-max: 1199px;
$md-mid: 992px;
$md-min: 800px;
$sm-max: 799px;
$sm-min: 576px;
$xs-max: 575px;
$ss-min: 488px;
